.head_image{
		display: block;
		margin: auto;
		max-width:100%
}
.head_text{
	text-align: center;
	margin: auto;
	font-family: Georgia, sans-serif;
	font-size:35px;
	width: 50%;
	height: 80px;
	line-height: 40px;	
}
hr{
	width: 85%;
	border: none;
    border-top: 4px double rgb(241, 236, 236);


}
.head_subtext{
	text-align: center;
	font-family: Georgia, sans-serif;
	width: 80%;
	margin:1px auto;
}
main ul{
	display: flex;
	list-style: none;
	margin:1px auto;
	width: 70%;
}
li{
margin: 2px;
}
.fa-chevron-right{
	color: dimgray;
	opacity: 0.4;
	font-size: 10px;
}
footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	
	margin:1px auto;

	padding: 5px;
}
.foot_image{
	width: 60px;
	height: 50px;
}
span{
	font-size: 1.1em;
	font-family: sans-serif;
	color: black;
}
.footer_text{
	color: rgb(161, 161, 161);
}